{% extends 'alewebs/base.html' %}



{% block content %}
<section class="about">
      <div class="container grid-3">
        <div class="about-text">
          <h3 style="color:violet; margin-top: 60px;">about alessia carrano</h3>
              <p>
                  I am a<strong> certified gender, relationship and sex counsellor.</strong> Combining a sociological and psychological approach   I attempt to create a safe space for my clients to introspect and improve the quality of their relationships to themselves and by extension to others.  I trust that I can welcome my clients in a compassionate and empathetic space in order for them to develop and strengthen their self-compassion and acceptance to eventually live freer and happier.  
              </p>
          </div>
        <div class="about-text">
        <h3 style="color:aquamarine;margin-top: 100px;">education</h3>
              <p>
                  I have a  Msc in Gender and Sexuality from the University of Amsterdam as well as a training in psycho-sexological counselling from France.
                  Having lived in many places and being a mix of many different cultures I have a deep understanding of people from all types of backgrounds. I offer counseling in English, French and Italian.
              </p>
          </div>
          <div class="about-text">
          <h3 style="color:aquamarine;margin-top: 140px;">practice</h3>
              <p>
                  My approach is based on intersectional feminism, queer and critical race theory which means that I deconstruct the issues that my clients face in a way that understands how structural and systemic issues infiltrate people’s intimate lives.
              </p>
          </div> 
        </div>
      </div>
      
    </section>

{% endblock content %}

