{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static '/css/style.css' %}"
    />

    <!-- font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- end font style -->

    <title>Alessia Carrano</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container flex">
        <h3 class="logo">acCo</h3>
        <nav>
          <ul>

            <li><a href="{% url 'alewebs:index' %}">Home</a></li>
            <li><a href="{% url 'alewebs:about' %}">About</a></li>
            <li><a href="{% url 'alewebs:price' %}">Price</a></li>
            <li><a href="{% url 'alewebs:features' %}">Features</a></li>

          </ul>
        </nav>
      </div>
    </div>

    {% block content %}
    {% comment %} block content here {% endcomment %}
    {% endblock %}

  </body>
</html>