{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static '/css/style.css' %}"
    />
    <link rel="stylesheet" href="/static/images/styles.css" />
    <!-- font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- end font style -->

    <title>Alessia Carrano</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container flex">
        <h3 class="logo">acCo</h3>
        <nav>
          <ul>
              <li><a href="/alewebs/templates/alewebs/index.html">Home</a></li>
              <li><a href="/alewebs/templates/alewebsabout.html">About</a></li>
              <li><a href="/alewebs/templates/alewebs/price.html">Price</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <section class="more">
      <div class="container grid-4">
        <div class="more-text">
          <div class="note">
            <h1 style="margin-top: 35px">
              <span class="emphasis2"> By helping</span> clients embark on their
              own romantic revolution to sustain more equal relationships free
              of violence and domination.
            </h1>
          </div>
        </div>
        <div class="note">
          <h1 style="margin-top: 180px">
            <span class="emphasis2">By discerning</span> how strict gender roles
            can be hurtful to them and helping the client find the comfortable
            middle ground between deconstruction and acceptance.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 35px">
            <span class="emphasis2">By initiating</span> the reconnection of
            clients with their eros to become more alive, curious and
            spontaneous.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 180px">
            <span class="emphasis2">By encouraging</span> self-love to enhance
            body positivity.
          </h1>
        </div>

        <div class="note">
          <h1 style="margin-top: 35px">
            <span class="emphasis2">By understanding</span> the repetitive
            conflicts and patterns in order to start repairing the internal
            relational compass.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 180px">
            <span class="emphasis2">By creating</span> the space for human
            connection to powerfully transform most aspects of their lives.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 35px">
            <span class="emphasis2">By developing</span> and self-awareness in
            order to know exactly what they want in their current or future
            relationships.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 180px">
            <span class="emphasis2">By embracing </span> impact of cultural,
            religious and racial differences on intimacy.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 35px">
            <span class="emphasis2">By acknowledging </span> identity and
            intimacy are intertwined.
          </h1>
        </div>
        <div class="note">
          <h1 style="margin-top: 180px">
            <span class="emphasis2">By sensing</span> the influence of societal
            sexual scripts and taking what works and leaving what doesn’t.
          </h1>
        </div>
      </div>
    </section>

    <!--   How do I do this:?
        <ul style="margin-left: 350px; margin-right: 400px ; color:rgb(209, 202, 202);">
            <li>By helping clients embark on their own romantic revolution to sustain more equal relationships free of violence and domination. </li>
            <br>
            <li>By creating the space for human connection to powerfully transform most aspects of their lives. 
            </li>
            <br>
            <li>By initiating the reconnection of clients with their eros to become more alive, curious and spontaneous. 
            </li>
            <br>
            <li>By encouraging radical self-love to enhance body positivity. 
 
            </li>
            <li>By understanding the repetitive conflicts and patterns in order to start repairing the internal relational compass.
            </li>
            <br>
            <li>By discerning how strict gender roles can be hurtful to them and helping the client find the comfortable middle ground between deconstruction and acceptance.</li>
            <br>
            <li>By developing self-confidence and self-awareness in order to know exactly what they want in their current or future relationships.
            </li>
            <br>
            <li>By sensing the influence of societal sexual scripts and taking what works and leaving what doesn’t.</li>
            <br>        
            <li>By embracing the impact of cultural, religious and racial differences on intimacy. </li>
            <br>
            </li>By acknowledging how identity and intimacy are intertwined. </li>
        </ul>
    </p>
      
    </div> -->
  </body>
</html>
