{% extends 'alewebs/base.html' %}

{% block content %}
 <section class="price">
      <div class="container grid-5">
        <div class="price-text">
          <div class="bg3">
            <img src="/static/css/images/single.jpg"  alt="">
            <h2>Individuals : € 60  </h2>
            <h3>50 min session</h3>
          </div>
        </div>
        
          <div class="bg3">
            <img src="/static/css/images/couples.jpg" alt="">
            <h2>Couples : € 90  </h2>
            <h3> 50 min session</h3>
          </div>
          
      
    </section>
{% endblock content %}